.container {
  width: 100%;
  text-align: center;
}

.tableHeader {
  min-width: 125px;
}

.tableRow {
  border: 1px solid black;
}

.good {
  background-color: rgb(87, 187, 138);
}

.semiGood {
  background-color: rgb(182, 215, 168);
}

.warning {
  background-color: rgb(255, 214, 102);
}

.bad {
  background-color: rgb(230, 124, 115);
}

.missing {
  background-color: gainsboro;
}